@charset "UTF-8";
/* Insert your custom CSS styles */

h2, .h2 {
    font-size: 22px;}

.header-main {position: relative;
    background-color: #ffffff;
  }

.header-top {background: #3781C5;}

footer.nd-region {
  background: #9c9c9c;
  color: #ffffff;
  padding-bottom: 10px !important;
  padding-top: 35px;
  /*border-top: 2px solid #fbb516;*/
}

.footer-copyright {
    border-top: none;
    background: #0f3a57;
    font-size: 11px;
    padding: 20px 0;
    color: #E2E2E2;
    text-align: center;
    font-style: italic;
}

h4,  .h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase!important;
}
footer .widget {
  margin-bottom: 30px;
  font-size: 13px;
}

div#block-3 {
    color: #000000;
}

.contacts-widget .contacts-info-list > li > .fa {
    width: 28px;
    height: 28px;
    line-height: 28px;
}

.contacts-widget .contacts-info-list > li {min-height: 22px;}

.nd-region.homenopad {
  padding-top: 5px;}


section.nd-region.section-siver {padding-top: 0px; padding-bottom: 0px;}

.header .logo {
    padding: 18px 0 4px 0;}

.nav-main {
    background: none;
   }

body {

    color: #363636;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    line-height: 22px; }

section.nd-region.section-yellow {
	margin: 0 -100% 20px -100%;
    padding: 35px 100% 25px 100%;
    background: #f6b232;
    overflow: hidden;}

.title-accent > h3 > span {font-size: 18px; font-family: 'Oswald', sans-serif;}

.page-heading {
    background: #0f425b;
    border-top: 5px solid #d4d4d4;
    border-bottom: 5px solid #d4d4d4;
    position: relative;
}

ul.team-social.list-unstyled {font-size: 14px;}

.social-links > li > a {
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  border: none;
}

footer .contacts-widget .contacts-info-list > li a:hover
{color: #0f3a57;}


.tp-dottedoverlay.filled {
    background: #000;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 66%;
    top: 17%;
}

.text-black-shadow a, .text-black-shadow div, .md-object.text-black-shadow {
    text-shadow: 4px 4px 4px rgba(0,0,0,0.9);
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=4,OffY=4,Color=#80000000,Positive=true)";
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=4,OffY=4,Color=#80000000,Positive=true);
	line-height: 37px;
}

.tabs .nav-tabs > li.active > a {
    color: #ffffff;
    border-left-color: #dcdcdc;
    border-right-color: #dcdcdc;
    background: #10425a;
	font-weight: bold;
}

.tabs .nav-tabs > li > a {
    background: #3780c5;
    margin-right: 2px;
    border-left: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
    border-bottom: none !important;
    border-radius: 0;
    padding: 12px 20px;
    color: #ffffff;
    position: relative;
	font-weight: bold;
}

.tabs .nav-tabs > li {
    margin-bottom: 0;
    width: 25%;
}


@media (min-width: 992px) {
  .nav-main {
    background: none;

  }

  header.menu-pills .flexnav > li.active > a {
    color: #2f2f2f;

  }
  .flexnav > li:hover, .flexnav > li.active {
    background: rgba(255, 255, 255, 0.15)
  }
}
.people-email a {
  color: #D79D2F;
}
.section-latest-news {
  padding-top: 12px;
  padding-bottom: 43px;
}
.section-latest-news .project-item-inner {
  position: relative;
}
.section-latest-news .project-desc {
  bottom: 7px;
  left: 7px;
  right: 7px;
  z-index: 3;
  padding: 10px 12px;
  background: rgba(22, 54, 71, 0.73) !important;
  position: absolute;
}
.section-latest-news .project-desc h4 a {
  color: #ffffff;
}
.section-latest-news .project-sum {
  padding: 0px 10px 0 10px;
}
.view-display-id-page_2 .project-item .dlink {
  width: 100%;
}
@media (max-width: 525px) {
  .header .logo img {
    width: 300px !important;
  }

.md-object.text-black-shadow {

    line-height: 16px;
}
.navbar-toggle {
  background: #0d4b66;
}
.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
  background: #13719a;
}

.social-links-footer .social-links-wrapper .social-links {
    display: inline-block;
    vertical-align: middle;
}
.social-links-footer .social-links-wrapper {
    padding-top: 10px;
}
}

footer .widget .title > a {
  color: white;
}

@media (min-width: 768px) {
    .social-links-footer .social-links-wrapper {
        padding-top: 0;
    }
}
.social-links-footer {
    background: #9c9c9c;
    color: #ffffff;
    padding-bottom: 14px !important;
    font-size: 13px;
    margin: -100px 0 39px 0;
}
.social-links > li > a:hover {
  background: rgba(255, 255, 255, 0.05);
  color: #2f2f2f;
}

.footer-copyright a{
    color: #ffffff;
}
.footer-copyright a:hover {
    color: #c29d3a;
    text-decoration: none;
}
footer h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0 0 1em 0;
  color: #23527c;
  text-transform: uppercase;
}
.col-sm-6.col-md-4.moveleft {
    text-align: left;
    max-width: 426px;
    color: #ffffff;
    padding-left: 0px;
}
.section-latest-news .project-date {
	font-size: 12px;
	color: #81858a;
	font-style: italic;
	padding: 20px 10px 0 10px;
}
.view-id-resources ul,
.view-id-proyectos ul,
.view-id-partnerships ul {
  padding: 0;
}
.view-id-resources li.page-item {
  float: left;
  margin-right: 30px;
  width: 350px;
  list-style: none;
}
.view-id-proyectos li.page-item,
.view-id-partnerships li.page-item {
  float: left;
  margin-right: 30px;
  width: 540px;
  list-style: none;
}
.view-id-partnerships .project-item .overlay {
  bottom: 27px;
}
.view-id-resources .project-item .dlink,
.view-id-proyectos .project-item .dlink,
.view-id-partnerships .project-item .dlink {
  width: 100%;
}
.view-id-resources .project-desc,
.view-id-proyectos .project-desc {
  padding: 15px 20px;
  min-height: 75px;
  text-align: left;
}
.view-id-partnerships .project-desc {
  padding: 0 20px;
  min-height: 75px;
  text-align: left;
}
.view-id-resources .project-item .project-item-inner,
.view-id-proyectos .project-item .project-item-inner,
.view-id-partnerships .project-item .project-item-inner {
  background: none;
}
.view-id-resources .project-date,
.view-id-proyectos .project-date,
.view-id-partnerships .project-date {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 5px;
}
#Content #sidebar {
  z-index: 9;
}
#Content #content {
  z-index: 10;
}
.widget-tag-cloud .tagcloud a {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #cecece;
    border-radius: 4px;
    margin: 0 3px 6px 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.view-related-videos .project-item .project-item-inner {
  background: none;
}
.view-related-videos .project-item .project-item-inner h4 a {
  color: #000000;
  text-decoration: none;
}
.translate-links {
  float: left;
}
.resources-content img {
  margin: 0 40px 20px 0;
}
.node-projects-new .tabs .nav-tabs > li {
  width: auto;
}
body.node-type-blog .main #content > ul.links.inline {
  margin: -100px 0 50px 0;
  position: relative;
}
.node-projects-new .tab-content .embed-responsive.embed-responsive-4by3 {
  height: 1410px;
}

.subcribe-info {
    color: #fff;
    float: left;
    width: 30%;
    text-align: left;
    font-style: italic;
    line-height: 17px;
    padding-top: 10px;
}
.subcribe-form {
    float: left;
    margin-left: 25px;
}
.subcribe-email {
    margin-top: 8px;
    margin-bottom: 4px;
    border: 1px solid #999;
    padding: 3px;
    color: #000000;
    font-style: italic;
    width: 130px;
    padding-left: 10px;
}
.subcribe-submit {
    margin-top: 8px;
    border: 1px solid #999;
    padding: 3px 7px;
    font-size: 13px;
    color: #dfbd86;
    background-color: #a17a39;
}
.site-name {
  font-weight: bold;
}

.section-latest-news .project-item .project-desc .title {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
@media (min-width: 992px) {
  #views-news-block_4 {
    margin-top: -495px;
	background-color: #ececec;
  }

}
.featured-videos .alignnone img {
  margin: 0;
}
.featured-videos {
  background: #558DCA;
}
.featured-videos .project-item .project-item-inner {
  background: none;
}
.featured-videos .project-desc .title > a:hover {
  color: #000000;
}
.block-center {
  text-align: center;
}
.view-display-id-block_4 .project-item .dlink,
.view-display-id-block_4 .project-item .zoom{
  width: 100%
}
.post-date {
  font-style: italic;
  font-size: 12px;
  color: #c0c0c0;
}
.map-svg {
  height: 800px;
  position: relative;
  margin: 0 auto;
}

.datamap {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  flex: 1;
}
#map-container {
  max-height: 652px;
  display: flex;
}
#map-container .col-right img {
  border: 10px solid #e6e6e6;
}
#eramap {
  margin-right: 10px;
}
#pasomap {
  width: 100%;
  height: 100%;
  position: relative;
}

.content-header h2 {
  color: #103a58;
  background: #e6e6e6;
  text-align: center;
  padding: 8px 0px;
  margin-bottom: 10px;
}
.map-content-section {
  border: 1px solid #103a58;
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.map-note {
  background: #f6b219;
  color: #ca1d2c;
  font-weight: 600;
  text-align: center;
  line-height: 18px;
  padding: 10px 8px;
}
.paso-container p {
  margin: 0px;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
}
.map-footer {
  background: #e6e6e6;
  padding: 3px 0px;
}
.map-footer-text {
  text-align: center;
  font-weight: 600;
  color: #103A56;
}
.map-circle {
  width: 11px;
  height: 11px;
  display: inline-block;
  border-radius: 50%;
  background: #f6b219;
  vertical-align: top;
  margin: 5px 2px 0px 10px;
}
.d-flex {
  display: flex;
}
.map-wrapper {
  height: 600px;
}
.map-wrapper, .map-meta {
  flex-wrap: wrap;
}
.map-meta {
  width: 34%;
  padding-left: 4px;
  height: calc(100% + 4px);
  margin: -2px 0px;
}
.map-content {
  width: 66%;
}
.meta-item {
  width: 100%;
  height: 33.3333333%;
  flex-direction: column;
}
.meta-item-content {
  height: 100%;
  flex-direction: column;
  display: flex;
  padding: 2px 0px;
}
.meta-title {
  background: #103a58;
  width: 100%;
  color: #fff;
  text-align: center;
  margin-bottom: 3px;
  padding: 6px 0px;
  font-weight: 600;
  font-size: 14px;
}
.meta-item-list {
  border: 2px solid #103a58;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.meta-item-list > ul {
  list-style: none;
  padding: 0px 8px;
  margin: 5px 0px;
  font-size: 12px;
}
.meta-item-list > ul > li {
  cursor: pointer;
  padding-left: 5px;
}
.meta-item-list > ul > li:nth-child(even) {
  background: #efefef;
}
.meta-item-list > ul > li:nth-child(odd) {
  background: #fff;
}
#pasomap svg {
  pointer-events: all;
}
#pasomap svg > circle {
  cursor: pointer;
  transform-origin: center;
}
#pasomap svg > circle:hover {
  fill-opacity: 0.8 !important;
  stroke: #c18215 !important;
  stroke-opacity: 1 !important;
  stroke-width: 2 !important;
}
#pasomap svg > circle.inactive {
  fill-opacity: 0.4;
  stroke: #c18215;
  stroke-width: 1;
  stroke-opacity: 0.4;
}
#pasomap svg > circle.active {
  fill-opacity: 0.8;
  stroke: #c18215;
  stroke-width: 2;
}
.map-meta-row {
  width: 100%;
  height: 50%;
  display: flex;
}
.map-meta > .map-meta-row:first-child {
  padding-bottom: 10px;
}
.map-meta .participants .meta-item-list {
  background: #e6e6e6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-meta .participants .meta-item-list h1 {
  font-size: 60px;
  margin: 0px;
}
.tt-row {
  display: flex;
}
.tt-label {
  width: 50%;
  white-space: nowrap;
  font-family: helvetica,arial,sans-serif;
  max-width: 260px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #c8c8c8;
  text-align: right;
  padding-right: 12px;
}
.tt-value {
  width: 50%;
  color: #f4f4f4;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: 500;
}
.map-tooltip {
  flex-direction: row;
  opacity: 1;
}
.tt-container {
  padding: 12px;
  font-size: 12px;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(51, 51, 51);
  opacity: 0.9;
  width: 240px;
}
.map-tooltip .arrow {
  border-right-color: rgb(51, 51, 51);
  border-left-color: rgb(51, 51, 51);
  opacity: 0.9;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #333;
  margin-top: 7px;
  align-self: flex-start;
}

.row.no-gutter {
  padding-left: 0px;
  padding-right: 0px;
}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
#pasomap-title {
  min-height: 42px;
}
@media (max-width: 991px) {
  #map-container {
    flex-direction: column;
    max-height: inherit;
  }

  #eramap {
    margin: 0px 0px 10px 0px;
  }

  #map-container .col-md-6 {
    width: 100%;
  }
}