  <div class="paso-container" id="paso-container">
    <div class="content-header">
      <h2>Rural Alternative Schools | <span class="region-name">NATIONAL AGGREGATE</span></h2>
    </div>
    
    <div class="content">
      
      <div class="content-body">
        <div class="map-wrapper d-flex">
          
          <div class="map-content">
            <div class="map-content-section">
              <div class="map-note"><p>Click circles on the map to see each ERA. Click outside the circles to return to national aggregate.</p></div>
              <div class="datamap">
                <div id="pasomap"></div>
              </div>
              <div class="map-footer">
                <p class="map-footer-text">Phase <i class="map-circle"></i> Ongoing</p>
              </div>
            </div>
          </div>

          <div class="map-meta d-flex">
            <div class="meta-item organizations">
              <div class="meta-item-content">
                <h4 class="meta-title">Beneficiary Organizations</h4>
                <div class="meta-item-list"></div>
              </div>
            </div>
            
            <div class="meta-item projects">
              <div class="meta-item-content">
                <h4 class="meta-title">Productive Projects</h4>
                <div class="meta-item-list"></div>
              </div>
            </div>
            <div class="meta-item partners">
              <div class="meta-item-content">
                <h4 class="meta-title">Our Partners</h4>
                <div class="meta-item-list"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      
    </div>
  </div>